.container{
  text-align: center;
  background-color: rgb(19, 115, 51);
}
img{
    max-width: 40px;
    height: auto;
}
.remain{
  display: inline;

}
.time{
  display: inline;
  color: blue;
}
#flag {
  width: 40px;
  height: 30px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  content: url('flagg.png');
  outline: none;
  user-select: none;
  display: inline;
}
#timer {
  width: 40px;
  height: 30px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  content: url('timer.svg');
  display: block;
  outline: none;
  user-select: none;
  display: inline;
}

.gridwrapper {
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: stretch;
}
    
.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border-radius: 1px;
  padding:2px;
  width: calc(100vh);
}



.field.oddshown {

  background-color:rgb(215, 184, 153);
  opacity: 1;
  transform: rotateY(0deg);

}
.field.evenshown {

  background-color:rgb(228, 194, 159);
  opacity: 1;
  transform: rotateY(0deg);

}
.field.hidden {

  background-color: blue;
  opacity: 1;
  transform: rotateY(0deg);
}
.field.marked{

  background-image: url("flagg.png");
  background-position: right;
  opacity: 1;
  transform: rotateY(0deg);
}
.field.mine{

  background-image: url("mine.png");
  background-position: right;
  opacity: 1;
  transform: rotateY(0deg);
}



.field {

  padding-bottom: 50%;
  padding-top: 50%;
  content: "";
  display: block;
  background-size: cover;
  border-color: blue;
  background-color: rgb(14, 134, 10);
  color: blue;
  font-family: 'Sansita Swashed', cursive;
  max-height: 30px;
  text-align: center;


}
.oddfield {

  background-color: rgb(162, 209, 73);

}
.evenfield {
  background-color: 	rgb(170, 215, 81);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0s;
  transition: all 0s;

  visibility: hidden;
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}
#overlay * {
  pointer-events: none;
}

#overlay.active {
  visibility: visible;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

#overlayin {
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px black;
}

#overlayin p {
  text-align: center;
  font-size: 1em;
}

p.big {
  font-size: 2em !important;
}

p.darker {
  color: #aaa;
}

p.glow {
  animation: glow 1s infinite alternate-reverse;
}

@keyframes glow {
  from { text-shadow: 0 0 20px rgb(255, 255, 0); }
  to { text-shadow: 0 0 20px rgb(255, 115, 0); }
}

#overlay.active #overlayin {
  opacity: 0;
  animation: spinIn 1s ease-in-out;
  animation-fill-mode: forwards;
}

#overlayin * {
  margin: 0px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes spinIn {
  from { transform: scale(0.1) rotateX(0deg) ; opacity: 0; }
  to { transform: scale(1) rotateX(360deg) ;  opacity: 1; }
}

#sound {
  width: 40px;
  height: 30px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  content: url('sound-on.webp');
  display: inline;
  outline: none;
  user-select: none;
}

#sound:checked {
  content: url('sound-off.webp');
}
